<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= author.year %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= author.resume %>
  </p>

</div>
